/* @usage: font style */
$font: "Nunito", sans-serif;
$mono: monospace, monospace;

/* @usage: basic style */
$trans: transparent;
$scrollbar: #eeeeee;
$scrollThumb: #686868;
$outline: #999999;

/* @usage: theme color */
$white: #ffffff;
$black: #000000;
$yellow: #ffd336;
$gray: #f9f9f9;
$red: #f85656;
$blue: #3049b4;
$green: #04cc1c;

$logo: #2e4acb;
$graybg: #f5f5f5;
$promo: #feefcb;
$tabbg: #f9f9f9;
$footer: #e0ffff;
$time: #e8e7e7;
$nav: #394b60;

$statusOne: #ff8b8b;
$statusTwo: #feecaf;
$statusThree: #d5fda2;

$btn: #2834a1;
$text: #394b60;
$bgray: #c4c4c4;
$lgray: #fbfbfb;
$border: #dcd9d9;
$gbtn: #ececec;

$dashone: #f0ff92;
$dashtwo: #adabff;
$dashthree: #ffa2a2;

$shadow: 0px 0px 8px 3px rgba(215, 215, 215, 0.25);
$gradient: linear-gradient(348.6deg, #012eca -33.71%, #423785 125.43%);
$lgradient: 3px 3px 3px rgba(242, 242, 242, 0.45);
